<div class="container">
    <header class="text-center mt-5">
        <h1>Welcome to Wealthify</h1>

        <p>“Welcome to our online banking platform, where managing your finances is secure, straightforward, and
            convenient. With our user-friendly interface and advanced security measures, you can confidently check
            your account balances, transfer funds, and more, all from the comfort of your own home. Rest assured,
            your sensitive information is safeguarded with industry-leading encryption. Should you need assistance,
            our dedicated support team is here to help. Experience banking at your fingertips with Wealthify.”</p>
        <h3>Banking services beyond excellence.</h3>
        <h4>Services we offer.</h4>
    </header>

    <div class="row">
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Banking Operations</h5>
                    <p class="card-text">User friendly services for each and every Customer</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Loans</h5>
                    <p class="card-text">We provide different types of loans to benefit your lives.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Customer Satisfaction</h5>
                    <p class="card-text">We prioritize customer satisfaction by providing services, responsive
                        customer support.</p>
                </div>
            </div>
        </div>
    </div>


</div>
