<div>
    <div class="card col-6 mt-3 mx-auto p-2">
        <div class="card-body">
            <h5 class="card-title">Account request</h5>
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let accountRequest of accountRequests; index as i">
                        <td *ngIf="accountRequest.status==='REQUESTED'">{{accountRequest.username}}</td>
                        <td *ngIf="accountRequest.status==='REQUESTED'">{{accountRequest.email}}</td>
                        <td *ngIf="accountRequest.status==='REQUESTED'">{{accountRequest.balance}}</td>
                        <td *ngIf="accountRequest.status==='REQUESTED'">{{accountRequest.accountType}}</td>
                        <td *ngIf="accountRequest.status==='REQUESTED'">
                            <button (click)="approve(i)">Approve</button>
                        </td>
                        <td *ngIf="accountRequest.status==='REQUESTED'">
                            <button (click)="decline(i)">Decline</button>
                        </td>
                    </tr>

                </tbody>

            </table>


        </div>

    </div>
</div>