<main >
  <div class="page-header pt-3">
      <h2>Dashboard</h2>
  </div>
  <p class="lead">{{role}}</p>
  <hr>
  <div class="row ">
      <div class="col-12">
          <div class="row">
              <div class="col-sm-7 mb-3 mb-sm-0">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Transactions</h5>
                          <table class="table ">

                              <thead>

                                  <tr>

                                      <th scope="col">Account Id</th>

                                      <th scope="col">Destination Account</th>

                                      <th scope="col">Balance</th>

                                      <th scope="col">Time</th>

                                  </tr>

                              </thead>

                              <tbody>

                                  <tr *ngFor="let transaction of transactions$ | async">

                                      <td>{{ transaction.sourceAccountId }}</td>
                                      <td>{{ transaction.destinationAccountId }}</td>
                                      <td>{{transaction.amount | currency:'INR'}}</td>
                                      <td>{{transaction.transactionDate | date:'longDate'}}</td>

                                  </tr>

                              </tbody>

                          </table>


                      </div>

                  </div>

              </div>

              <div class="col-sm-4">

                  <div class="card">

                      <div class="card-body">

                          <h5 class="card-title">Accounts</h5>

                          <table class="table">

                              <thead>

                                  <tr>

                                      <th scope="col">Account Id</th>

                                      <th scope="col">Balance</th>

                                      <!-- <th scope="col">Handle</th> -->

                                  </tr>

                              </thead>

                              <tbody>

                                  <tr *ngFor="let account of accounts$ | async">

                                      <td>{{account.accountId}}</td>
                                      <td>{{account.balance | currency:'INR'}}</td>



                                      <td> <button class="btn btn-sm btn-outline-primary  "
                                              (click)="viewDetails(account.accountId)">View
                                              Details</button></td>

                                  </tr>

                              </tbody>

                          </table>
                      </div>

                  </div>

              </div>
              <div *ngIf="this.role==='ADMIN'" class="row mt-5 mx-auto">
                  <div class="col-sm-7">
                      <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">Users</h5>
                              <table class="table ">

                                  <thead>

                                      <tr>

                                          <th scope="col">User Id</th>

                                          <th scope="col">Name</th>

                                          <th scope="col">Phone</th>

                                          <th scope="col">email</th>

                                      </tr>

                                  </thead>

                                  <tbody>

                                      <tr *ngFor="let user of users$ | async">

                                          <td>{{user.userId}}</td>
                                          <td>{{ user.name }}</td>
                                          <td>{{user.phone}}</td>
                                          <td>{{user.email}}</td>

                                      </tr>

                                  </tbody>

                              </table>


                          </div>

                      </div>

                  </div>


              </div>

          </div>

      </div>
  </div>
</main>