<main class="ms-2">
    <div class="page-header pt-3">
        <h2>Dashboard</h2>
    </div>

    

    <p class="lead">{{role}}</p>
    <hr>


        <div class="bg-white text-center justify-items-center ">
            <ul class="nav nav-tabs " id="myTabs" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link bg-info me-1 text-dark" id="accounts-tab" data-bs-toggle="tab" data-bs-target="#Accounts" type="button" role="tab" aria-controls="Accounts"aria-selected="true">Accounts</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link  bg-info me-1 text-dark" id="account-request-tab" data-bs-toggle="tab" data-bs-target="#AccountRequest" type="button" role="tab" aria-controls="AccountRequest"aria-selected="true">Account Requests</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link  bg-info me-1 text-dark" id="transaction-tab" data-bs-toggle="tab" data-bs-target="#Transactions" type="button" role="tab" aria-controls="Transactions"aria-selected="true">Transactions</button>
              </li>
             
              <li class="nav-item" role="presentation" *ngIf="this.role==='ADMIN'">
                <button class="nav-link bg-info me-1 text-dark" id="users-tab" data-bs-toggle="tab" data-bs-target="#Users" type="button" role="tab" aria-controls="Users"aria-selected="true">Users</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link  bg-info me-1 text-dark" id="loans-tab" data-bs-toggle="tab" data-bs-target="#Loans" type="button" role="tab" aria-controls="Loans"aria-selected="true">Loans</button>
              </li>
             
            </ul>
          </div>
        
          
          <div class="tab-content" id="myTabContent">
            <app-transaction-table  class="tab-pane fade show" id="Transactions" role="tabpanel" aria-labelledby="transaction-tab"></app-transaction-table>
            <app-account-table class="tab-pane fade" id="Accounts" role="tabpanel" aria-labelledby="accounts-tab"></app-account-table>
            <app-user-table class="tab-pane fade" id="Users" role="tabpanel" aria-labelledby="users-tab"></app-user-table>
            <app-loan-table class="tab-pane fade" id="Loans" role="tabpanel" aria-labelledby="loans-tab"></app-loan-table>
            <app-account-request-table class="tab-pane fade" id="AccountRequest" role="tabpanel" aria-labelledby="account-request-tab"></app-account-request-table>
          </div>
</main>
