<div class="container-fluid">

  <div class="row flex-nowrap">

    <div class="col-auto px-0">

      <div id="sidebar" class="collapse collapse-horizontal show border-end border-white bg-dark">

        <div id="sidebar-nav" class="list-group border-white border-0 rounded-0 text-sm-start min-vh-100">

          <a  class="list-group-item border-end-0 d-inline-block text-truncate bg-dark text-white"
            data-bs-parent="#sidebar"><i class=""></i> <span>Add Account</span> </a>

          <a  class="list-group-item border-end-0 d-inline-block text-truncate bg-dark text-white"
            data-bs-parent="#sidebar"><i class=""></i> <span>Add Transaction</span></a>

        </div>

        <hr>

        <div class="dropdown pb-4">

          <a  class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

            <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">

            <span class="d-none d-sm-inline mx-1">User</span>

          </a>

          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">

            <li><a class="dropdown-item" href="#">Sign out</a></li>

          </ul>

        </div>

      </div>
      

    </div>

    <main class="col ps-md-2 pt-2">

      <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse"
        class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i> Menu</a>

      <div class="page-header pt-3">

        <h2>Dashboard</h2>

      </div>

      <p class="lead">USER</p>

      <hr>

      <div class="row">

        <div class="col-12">

          <div class="row">

            <div class="col-sm-7 mb-3 mb-sm-0">

              <div class="card">

                <div class="card-body">

                  <h5 class="card-title">Transactions</h5>

                  <!-- <div class="card-header">

            Transactions

          </div> -->

                  <table class="table">

                    <thead>

                      <tr>

                        <th scope="col">Account Id</th>

                        <th scope="col">Destination Account</th>

                        <th scope="col">Balance</th>

                        <th scope="col">Time</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr>

                        <td>Mark</td>

                        <td>Otto</td>

                        <td>moto</td>

                        <td>omto</td>

                      </tr>

                    </tbody>

                  </table>

                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

                </div>

              </div>

            </div>

            <div class="col-sm-5">

              <div class="card">

                <div class="card-body">

                  <h5 class="card-title">Accounts</h5>

                  <table class="table">

                    <thead>

                      <tr>

                        <th scope="col">Account Id</th>

                        <th scope="col">Balance</th>

                        <!-- <th scope="col">Handle</th> -->

                      </tr>

                    </thead>

                    <tbody>

                      <tr>

                        <td>1</td>

                        <td>20000</td>

                        <td> <button class="btn btn-sm btn-outline-primary  " (click)="viewDetails">View
                            Details</button></td>

                      </tr>

                    </tbody>

                  </table>

                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->

                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </main>

  </div>

</div>