<div class="outer">
    <form (ngSubmit)="onSubmit()" [formGroup]="emiCalculatorForm" class="emiCalculator-Form ">
        <div class="container bg-info-subtle">
            <h1 class="card-header">EMI Calculator</h1><br>

            <div class="input-container">
                <label for="loanType">Select Loan Type:
                    <select formControlName="loanType" (change)="callChange()">
                        <option value="Home Loan">Home Loan</option>
                        <option value="Education Loan">Education Loan</option>
                        <option value="Personal Loan">Personal Loan</option>
                        <option value="Car Loan">Car Loan</option>
                    </select>
                </label>


                <label for="amount">Principal Loan Amount ₹
                    <input (change)="callChange()" formControlName="amount" id="amount" type="number" />
                </label>

                <label for="amount">No. of Years to Pay
                    <input (change)="callChange()" formControlName="tenure" id="tenure" type="number" />
                </label>

                <span>Rate of Interest : {{interest}}% p.a.</span>

                <div>
                    <button type="submit" class="btn btn-success ">Check EMI</button>
                    <ng-container>
                        <div *ngIf="emiCalculatorError$ | async as error" class="error">
                            {{ error }}
                        </div>
                        <div *ngIf="emiCalculatorSuccess$ | async as msg" class="success">
                            {{ msg }}
                        </div>
                    </ng-container>
                </div>
            </div>
            <p>Monthly EMI Payment = <span id="emi"> ₹ {{emi | number:'1.0-2'}}</span></p>
        </div>
    </form>
</div>