<section class="intro">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card">
          <div class="card-body p-4 p-md-5">
            <h3 class="row justify-content-center">Registration Form</h3>


            <form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="login-form">


              <div class="col-md-6 mb-4">

                <div class="form-outline">
                  <label class="form-label" for="firstName">Name</label>
                  <input type="text" id="name" class="form-control" formControlName="name" />

                  <div
                    *ngIf="userForm.get('name')?.hasError('required') && (userForm.get('name')?.touched || userForm.get('name')?.dirty)"
                    class="error">
                    <span class="text-danger">Name is Required</span>
                  </div>
                </div>


                <div class="form-outline">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" formControlName="email" />

                  <div
                    *ngIf="userForm.get('email')?.hasError('required') && (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                    class="error"><span class="text-danger">Email required</span></div>
                  <div
                    *ngIf=" !userForm.get('email')?.hasError('required') && userForm.get('email')?.hasError('EmailValidator') &&  (userForm.get('email')?.touched || userForm.get('email')?.dirty)"
                    class="error"><span class="text-danger">Invalid Email Format</span></div>

                </div>

                <div class="form-outline">
                  <label class="form-label">Phone Number</label>
                  <input type="text" id="phone" class="form-control" formControlName="phone" />

                  <div
                    *ngIf="userForm.get('phone')?.hasError('required') && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                    class="error" class="text-danger">Mobile Number is Required</div>
                  <div
                    *ngIf="!userForm.get('phone')?.hasError('required') && userForm.get('phone')?.hasError('MobileValidator') && (userForm.get('phone')?.touched || userForm.get('phone')?.dirty)"
                    class="error" class="text-danger">Phone number is Invalid</div>
                </div>

                <div class="form-outline">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" class="form-control" formControlName="password" />

                  <div
                    *ngIf="userForm.get('password')?.hasError('required') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)"
                    class="error" class="text-danger">Password is Required</div>
                  <div
                    *ngIf="!userForm.get('password')?.hasError('required') && userForm.get('password')?.hasError('PasswordValidator') && (userForm.get('password')?.touched || userForm.get('password')?.dirty)"
                    class="error" class="text-danger">Password must be strong and contain number and special characters
                  </div>
                </div>

                <div class="form-outline">
                  <label class="form-label" for="retypePassword">Confirm Password</label>
                  <input type="password" id="retypePassword" class="form-control" formControlName="retypePassword" />

                  <div class="error-message" *ngIf="userForm.errors?.['notMatch']" class="text-danger">
                    Passwords don't match.
                  </div>
                </div>

              </div>
              <div class="mt-4">
                <button type="submit" value="Submit">Submit</button>
                <ng-container>
                  <div *ngIf="userError$ | async as error" class="error text-danger">
                    {{ error }}
                  </div>
                  <div *ngIf="userSuccess$ | async as msg" class="success text-success">
                    {{ msg }}
                  </div>
                </ng-container>
              </div>
            </form>
            <a [routerLink]="['/login']" routerLinkActive="router-link-active">Already have a account? login here
              <i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>