<div class="card text-center w-25 mx-auto p-2 " style="width:200px;">
  <div class="card-header bg-info-subtle">
    Create Your Account
  </div>
  <div class="card-body">
    <h5 class="card-title">Please fill the form</h5>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

      <div>

        <label for="accountType" class="form-label ">Select Account Type</label>

        <select name="accountType" formControlName="accountType" class="form-control" id="accountType" >

          <option value="" selected>Select</option>

          <option value="SAVINGS">Savings</option>

          <option value="CURRENT">Current</option>

        </select>

        <div
          *ngIf="accountForm.controls['accountType'].invalid && (accountForm.controls['accountType'].dirty || accountForm.controls['accountType'].touched)"
          class="ng-dirty">

          <span *ngIf="accountForm.controls['accountType'].errors">

            <span *ngIf="accountForm.get('accountType')?.hasError('required')" class="text-danger mt-1 mb-1">
              Please Select the Type of Account.
            </span>

          </span>

        </div>


      </div>
      <div class="mt-3">
        <label class="mb-1">Balance</label>
        <input type="text" class="w-100" formControlName="balance">
        <div
          *ngIf="accountForm.get('balance')?.hasError('required') && (accountForm.get('balance')?.touched || accountForm.get('balance')?.dirty)"
          class="error" class="text-danger">Balance is Required
        </div>
        <div
          *ngIf="!accountForm.get('balance')?.hasError('required') && accountForm.get('balance')?.hasError('AmountValidator') && (accountForm.get('balance')?.touched || accountForm.get('balance')?.dirty)"
          class="error" class="text-danger">Balance is Invalid
        </div>
      </div>

  <div>
    <button type="submit" class=" btn btn-success mt-3">Create Account</button>

    <ng-container>
      <div *ngIf="accountError$ | async as error" class="error text-danger">
        {{ error }}
      </div>
      <div *ngIf="accountSuccess$ | async as msg" class="success text-success">
        {{ msg }}
      </div>
    </ng-container>
  </div>



  <button [routerLink]="['/bank/dashboard']" class=" btn btn-success task-list mt-3">Dashboard</button>

  </form>
</div>
</div>