<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link mb-0 h1 text-white fs-4" [routerLink]="['/bank/dashboard']" routerLinkActive="router-link-active" >Home</a>
          </li>
        <li class="nav-item active">
          <a class="nav-link mb-0 h1 text-white mt-2" [routerLink]="['/bank/create-account']" routerLinkActive="router-link-active" >Add Account</a>
        </li>
            <li class="nav-item active">
              <a *ngIf="role==='ADMIN'" class="nav-link mb-0 h1 text-white mt-2" [routerLink]="['/bank/add-user']" routerLinkActive="router-link-active" >Add User</a>
        </li>

            <li *ngIf="role==='USER'" class="nav-item active">
              <a class="nav-link mb-0 h1 text-white mt-2" [routerLink]="['/bank/transaction']" routerLinkActive="router-link-active" >Add Transaction</a>
            </li>
            <li class="nav-item active">
                <button class="logout btn btn-danger nav-link text-white mt-2" (click)="logout()" >Logout</button>
              </li>
      </ul>
      
    </div>
  </nav>


<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end border-dark bg-dark">
                <div id="sidebar-nav" class="list-group border-dark border-0 rounded-0 text-sm-start min-vh-100">

                    <a [routerLink]="['/bank/new-account']" routerLinkActive="router-link-active"
                        class="list-group-item border-end-0 d-inline-block text-truncate bg-dark text-white"
                        data-bs-parent="#sidebar"><span>+Account</span> </a>

                    <a *ngIf="this.role==='USER'" [routerLink]="['/bank/transfer']"
                        routerLinkActive="router-link-active"
                        class="list-group-item border-end-0 d-inline-block text-truncate bg-dark text-white"
                        data-bs-parent="#sidebar"><i class=""></i> <span>+Transaction</span></a>

                    <a *ngIf="this.role==='ADMIN'" [routerLink]="['/bank/add-user']"
                        routerLinkActive="router-link-active"
                        class="list-group-item border-end-0 d-inline-block text-truncate bg-dark text-white"
                        data-bs-parent="#sidebar"><i class=""></i> <span>+User</span></a>
                </div>

                <hr>

                <div class="dropdown pb-4">
                    <a class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">{{ role }}</span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div> -->

        <router-outlet class="col ps-md-2 pt-2 "></router-outlet>
    </div>
</div>


