<p>view-accountdetails works!</p>
<div class="col-sm-7 mb-3 mb-sm-0 text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Account Details</h5>
        <!-- <div class="card-header">
          Transactions
        </div> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Account Id</th>
              <th scope="col">Name</th>
              <th scope="col">Balance</th>
              <th scope="col">Last Transaction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Mark</td>
              <td>Otto</td>
              <td>moto</td>
              <td>omto</td>
             
            </tr>
           
          </tbody>
        </table>
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>