<div>
    <div class="card col-6 mt-3 mx-auto p-2">
        <div class="card-body">
            <h5 class="card-title">Loans</h5>
            <table class="table ">

                <thead>

                    <tr>

                        <th scope="col">Loan Id</th>

                        <th scope="col">Loan Type</th>

                        <th scope="col">Amount</th>

                        <th scope="col">Tenure</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let loan of loans$ | async">

                        <td>{{ loan.id }}</td>
                        <td>{{ loan.loanType }}</td>
                        <td>{{loan.amount | currency:'INR'}}</td>
                        <td>{{loan.tenure}}</td>

                    </tr>

                </tbody>

            </table>


        </div>

    </div>
</div>